@model AcademicoAVD2.Models.Curso
@{ ViewData["Title"] = "Excluir Curso"; }

<h1>Excluir Curso</h1>
<p class="text-danger">Confirma a exclusão do curso abaixo?</p>
<dl class="row">
    <dt class="col-sm-3">Nome</dt><dd class="col-sm-9">@Model.Nome</dd>
    <dt class="col-sm-3">Carga Horária</dt><dd class="col-sm-9">@Model.CargaHoraria h</dd>
    <dt class="col-sm-3">Departamento</dt><dd class="col-sm-9">@Model.Departamento?.Nome</dd>
</dl>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
